@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body, button {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;   
    background-color: #F5F8FA;
    color: #657786;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;  
}


.container p {
    margin-top: 15px;
}



